/* 
1. ktory element chcem stylovat? (selector)
2. zlozene zatvorky
3. a v nich atributy (properties), ktore chceme menit (declaration)
*/

/* CSS reset - chceme vynulovat vnutorne nastavenie prehliadaca, aby sme pri kazdom prehliadaci mali rovnaky startovaci bod */
html,
body {
	margin:0;
}

/*
NA DEMONSTRACIU CSS BOX MODELU
	- CSS najlepšie pochopíme, keď si uvedomíme, že všetko je škatuľa. Každý element je štvoruholník, najčastejšie obdĺžnik. 
	- Nech je to akokoľvek guľaté a kruhové, nech je to akokoľvek klikihákový kostrbatý obrázok, čo sa HTML a CSS týka, všetko je štvoruholník. 
	- A všetky štvoruholníky sa skladajú na seba ako vrstvy zakusku.
*/
* { /* znamena VSETKO, vsetky elementy, nepouziva sa v produkcii, len ako developersky al debugovaci nastroj, aby som videla ako mam vsetky elementy na stranke */
	outline: 3px solid black; /* nieco ako border, no border meni velkost elementu nastavenim hrubky */
}

body { /* selector */
  width: 600px; /* declaration */
  padding: 50px; /* priesvitny okraj okolo elementu, vypln, vystlanie elementu zvnutra */
  background: pink;
}

h1, h2 {
  font-family: Georgia; /* viacslovne nazvy fontov sa pisu do single quotes, napr 'Lucida Grande' */
  margin: 0; /* priesvitny okraj okolo elementu, odtlacenie zvonka */
}

h1 {
  font-size: 42px;
  color: #bada55; /* hexadecimalny zapis, lepsie definuje farby ako slovne pomenovanie - viac odtienov */
}

h2 {
  font-size: 16px;
  color: #abcde;
  padding-bottom: 20px;
  border: 1px solid lightgrey;
}

p {
  color: dimgray;
  font-size: 16px;
  font-family: 'Open Sans';
  line-height: 26px;
}

#main-guy { /* odchytim si ID */
  color: blue;
}

.important { /* odchytim si class */
  color: yellow;
}

.controls {
  text-align: center;
}

.btn {
  font-size: 16px;
  padding: 6px 12px; /* zhora-zdola, sprava-zlava */
  background: #ccc;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  cursor: pointer;
}

/* zapis nizsie v subore prepise predosly zapis */
.btn-success {
  color: #fff;
  background: #5CB85C;
  border: 1px solid #5CB85C;
}

.btn-danger {
  color: #fff;
  background: #D9534F;
  border: 1px solid #D9534F;
}