body, html {
	margin: 0;
}

/* sposoby pridavania farieb
- keyword, napr. color: orange
- RGB, napr. color: rgb(255, 97, 56)
- hexa, napr. color: #FF6138
- rgba, napr. color: rgba(255, 97, 56, 0.5), a je priesvitnost, nadobuda hodnotu od 0 po 1, mozeme vyjadrit aj percentualne
*/

body {
	color: #333; /* znamena #333333, skrateny zapis, ak su kazde 2 za sebou rovnake, napr. #ff22aa sa da zapisat ako #f2a */
	font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; /* font, ktory je uz na PC */
	padding: 0 50px;
	background: #BEEB9F;
	-webkit-font-smoothing: antialiased;
}

p {
	font-size: 45px;
	line-height: 60px;
}

strong {
	color: rgb(255, 97, 56);
	color: rgb(255, 97, 56, 0.5); /* pise sa 2x, pretoze niekt stare prehliadace nepoznaju rgba, 
		co prehliadace nepoznaju tak to odignoruju, preto piseme najprv v starej verzii, 
		v prehliadacoch sa berie posledne nastavene, takze v novom sa nastavi polopriesvitna */
	font-variant: small-caps; /* velke pismena vo vyske malych pismen */
	text-decoration: overline;
	letter-spacing: 5px; /* existuje aj word-spacing */
	text-shadow: 3px 2px 0px #000; /* posun zlava, posun zhora, rozmazanie (0 znamena tvrde), farba tiena
		da sa aj vrstvit - 3px 2px 0px #000, 6px 4px 0px #fff - za ciernym tienom bude biely */
}

strong:hover {
	color: #FFB29E;
}

/* font so slovenskymi znakmi - latin extended */
.google-font {
	font-family: "Lobster", sans-serif;
	font-style: italic;
	font-weight: 100; /* udava sa cislami od 100 po 900, 
		400 je normal, 700 je bold*/
	text-transform: lowercase;
	text-indent: 400px;
	text-align: left;
}