body, html {
	margin: 0;
}

#layout-wrapper {
	width: 700px;
	margin: 0 auto;
}

#layout-wrapper header,
#layout-wrapper section,
#layout-wrapper aside,
#layout-wrapper footer {
	margin: 0 0 25px;
}

#layout-wrapper section {
	float: left;
	width: 425px;

	position: relative;
	right: 450px;
}

#layout-wrapper aside {
	float: right;
	width: 250px;
	
	position: relative;
	left: 300px;
}

code {
	color: aliceblue;
	background: violet;
	display: block;
	padding: 25px;
	text-align: center;
}

.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}