body, html {
	margin: 0;
}

#wrapper {
	outline: 3px solid green;
	background: lightgoldenrodyellow;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.pos {
	outline: 3px solid red;
}

code {
	color: aliceblue;
	background: violet;
	display: block;
	padding: 25px;
	text-align: center;
}

.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	*zoom: 1;
}