body, html {
	margin: 0;
}

#wrapper {
	outline: 3px solid green;
	background: lightgoldenrodyellow;
}

#visibility-wrapper {
	outline: 3px solid green;
	background: lightgoldenrodyellow;
}

#main {
	visibility: hidden;
	/* display: none; */
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.pos {
	outline: 3px solid red;
}

.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}