body, html {
	margin: 0;
}

[id] {
	outline: 3px solid green;
	background: lightgoldenrodyellow;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

aside {
	outline: 3px solid red;
}

.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	*zoom: 1;
}