body, html {
	margin: 0;
}

#layout-wrapper {
	width: 700px;
	margin: 0 auto;
}

#layout-wrapper header,
#layout-wrapper section,
#layout-wrapper aside,
#layout-wrapper footer {
	margin: 0 0 25px;
}

code {
	color: aliceblue;
	background: violet;
	display: block;
	padding: 25px;
	text-align: center;
}

#layout-wrapper section {
	float: left;
	width: 425px;
}

#layout-wrapper aside {
	float: right;
	width: 250px;
}

#layout-wrapper footer {
	clear: both;
}