body {
	background-color: whitesmoke;
	font-family: "Roboto", sans-serif;
	color: #1d1d1d;
}

header {
	width: 900px;
	margin: 100px auto 20px auto;
	text-align: center;
}

img {
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

h1 {
	text-transform: uppercase;
	background: #1d1d1d;
	color: whitesmoke;
	font-weight: 500;
	padding: 5px 15px;
}

header h2 {
	text-align: center;
	text-transform: capitalize;
	font-weight: 300;
}

header p {
	font-weight: 300;
}

header em {
	font-weight: 500;
	font-style: none;
}

main {
	width: 700px;
	margin: 50px auto 80px auto;
}

main h2 {
	text-transform: uppercase;
	margin-bottom: 40px;
}

main h3 {
	color: #555555;
	text-transform: uppercase;
	font-size: 15px;
	margin-top: 50px;
}

main h4 {
	font-size: 20px;
	font-weight: 500;
}

main p {
	font-weight: 300;
	color: #747474;
}

p:last-child {
	margin-bottom: 40px;
}

.resume {
	margin-bottom: 40px;
}